:8081 {
    redir https://{host}:8443{uri}
}

:8443 {
    tls /etc/letsencrypt/live/travelculturehub.com/fullchain.pem /etc/letsencrypt/live/travelculturehub.com/privkey.pem
    reverse_proxy culture_aggregator:8002
}
