fastapi==0.115.12
uvicorn==0.34.2
asyncpg==0.30.0
SQLAlchemy==2.0.40
piccolo==1.25.0
piccolo-admin==1.14.0
itsdangerous==2.2.0
Unidecode==1.4.0
pytz==2025.2
Jinja2==3.1.6
strawberry-graphql[fastapi]
python-dotenv==1.2.2
Markdown==3.8
beautifulsoup4==4.15.0
pandas==2.3.0
requests==2.33.0
lxml==6.1.1
transformers==5.5.0
python-slugify==8.0.4
torch==2.13.0
dateparser==1.2.2
aiohttp==3.14.1
tqdm==4.67.1
fake-agent==0.1.4
chardet==5.2.0
mdformat==1.0.0