<form method="post" action="/custom_admin/exhibitions/create/" class="space-y-4">
    <input type="text" name="slug" placeholder="Slug" class="border p-2 w-full" />
  <input type="text" name="category_title" placeholder="category_title" class="border p-2 w-full" />
  <input type="text" name="category_slug" placeholder="category_slug" class="border p-2 w-full" />
  <select name="category" class="border p-2 w-full">
    {% for c in categories %}
    <option value="{{ c.id }}">{{ c.title }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Save</button>
</form>


