{% extends "admin/base.html" %}
{% block content %}
<div class="flex justify-center mb-4">
  <a href="/custom_admin/exhibitions/"
     class="inline-flex items-center px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white text-sm font-medium rounded-lg shadow transition-all duration-200">
    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="2"
         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 4v16m8-8H4"></path>
    </svg>
    Exhibitions
  </a>
</div>


{% endblock %}